
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Cinemax Theatre</title>
    <link rel="stylesheet" href="./styles.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
      integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css"
    />
  </head>
  <body>
    <nav>
      <article class="navbarOne">
        <div class="section">
          <figure>
            <img src="images/logo.png" alt="company-logo" />
          </figure>
          <div class="address">
            <i class="fa-solid fa-location-dot"></i>
            <input
              type="text"
              name="address"
              id="address"
              value="Host, IFSC Dublin 1"
            />
          </div>
          <div class="search">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input
              type="text"
              name="products"
              id="products"
              placeholder="Search for products"
            />
          </div>
          <div class="telphone">
            <i class="fa-solid fa-phone"></i>
            <h5>1800 266 2247</h5>
          </div>
        </div>
      </article>
      <article class="navbarTwo">
        <div class="section">
          <ul>
            <li>
              <i class="fa-solid fa-film"></i><span>Movies</span>
            </li>
            <li><i class="fa-solid fa-tv"></i><span>Stream</span></li>
            <li>
              <i class="fa-solid fa-calendar-days"></i
              ><span>Events</span>
            </li>
            <li>
              <i class="fa-solid fa-play"></i><span>Activities</span>
            </li>
            <li><i class="fa-solid fa-book"></i><span>Buzz</span></li>
          </ul>
          <div class="not-cart">
            <i class="fa-solid fa-bell"></i>
            <a class="cart" href="">
              <i class="fa-solid fa-cart-shopping"></i>
              <span
                class="cartItemsQuantity"
                id="cartItemsQuantity"
              ></span>
            </a>
          </div>
          <div class="profile">
            <div class="profile-name">
              <i class="fa-solid fa-user"></i>
              <h6>Rohini Theatre</h6>
              <i
                id="downarrow"
                class="fa-sharp fa-solid fa-angle-down"
              ></i>
            </div>
          </div>
        </div>
      </article>
      <article class="navbarThree">
        <div class="section navigation">
          <span href="#">MyCart</span>
          <span><i class="fa-solid fa-angle-right"></i></span>
          <span href="./MainScreen.html">Proceed to checkout</span>
          <span><i class="fa-solid fa-angle-right"></i></span>
          <span href="">payment options</span>
        </div>
      </article>
    </nav>

    <main class="checkoutMainContainer">
      <section class="section">
        <article class="checkoutLeftSection">
          <div class="addressContainer">
            <figure><i class="fa-solid fa-house"></i></figure>
            <div class="address">
              <h6>SHIPPING ADDRESS</h6>
              <p>Host, Mayor Street Upper, IFSC Dublin 1 D01 A3k7</p>
            </div>
            <button type="button" id="changeAdressButton">
              Change Address
            </button>
          </div>
          <div class="invoice">*This is not and invoice</div>
          <div class="cartItemsContainer">
            <div class="cartItemsSummary">
              <p>1 Items</p>
              <div class="checkbox">
                <input type="checkbox" checked /><span
                  >Priority Order</span
                ><i class="fa-solid fa-circle-info"></i>
              </div>
            </div>
            <div class="cartItemCardContainer">
              <!-- <div class="cardItemCard">
                <figure>
                  <img
                    src="https://wfmp-p-001-delivery.sitecorecontenthub.cloud/api/public/content/0f42192e27294a059f5d7083ba8b6443?v=002ae8d5"
                    alt=""
                  />
                </figure>
                <div class="cardItemInfo">
                  <div class="firstInfo">
                    <div class="firstInfoOne">
                      <h6>
                        <i class="fa-solid fa-notes-medical"></i
                        ><span>Lejet 5mg 10 Tablets</span>
                      </h6>
                      <span id="singleItemPrice">$22.00</span>
                    </div>
                    <div class="firstInfoTwo">
                      <div class="buttonInfo">
                        <button type="button" id="decreaseItemButton">
                          <i class="fa-solid fa-minus"></i>
                        </button>

                        <input type="text" name="" id="" value="1" readonly />
                        <button type="button" id="increaseItemButton">
                          <i class="fa-solid fa-plus"></i>
                        </button>
                      </div>
                      <h6>Qty: <span>1</span></h6>
                      <span class="totalprice">$22.00</span>
                    </div>
                  </div>
                  <div class="extraOption">
                    <button type="button">Remove</button>
                    <button type="button">Save for later</button>
                  </div>
                </div>
              </div> -->
            </div>
          </div>
        </article>
        <article class="checkoutRightSection">
          <form action="" class="checkoutItemsInfo">
            <p>ORDER SUMMARY</p>
            <div class="checkoutItems">
              <h6 class="star">
                <i class="fa-solid fa-star"></i
                ><span>INR0.00 saved with this order</span>
              </h6>
              <div class="checkoutItemsTotal">
                <h6>Item Total</h6>
                <span id="itemTotal">INR22.00</span>
              </div>
              <div class="checkoutItemsDiscount">
                <h6>Discount</h6>
                <span>INR0.00</span>
              </div>
              <div class="checkoutItemsPriority">
                <h6>Priority Order</h6>
                <span>INR0.00</span>
              </div>
              <div class="checkoutItemsOrderTotal">
                <h6>Order Total</h6>
                <span id="orderTotal"></span>
              </div>
              <!-- <div class="checkoutItemsOrderTotal1">
                <h6>Upload Prescription</h6>
                <input type="file">
                <span id="orderTotal"></span>
              </div> -->
              <p class="offers">
                For offers click Proceed to Checkout
              </p>
            </div>
            <div class="checkoutItemsButtons">
              <button type="button" id="proceedToCheckoutButton">
                Proceed to Checkout
              </button>
              <button type="button" id="addMoreButton">
                Add More Products
              </button>
            </div>
          </form>
        </article>
      </section>
    </main>

    <footer>
      <article class="footerOne">
        <ul class="section">
          <li>
            <i class="fa-solid fa-truck"></i
            ><span>Priority Delivery</span>
          </li>
          <li>
            <i class="fa-solid fa-location-dot"></i
            ><span>Live Track Orders</span>
          </li>
          <li>
            <i class="fa-solid fa-wallet"></i
            ><span>Earn Wallet Points</span>
          </li>
          <li>
            <i class="fa-solid fa-credit-card"></i
            ><span>Secure Payments</span>
          </li>
        </ul>
      </article>
      <article class="footerTwo">
        <div class="section">
          <div class="info">
            <h4>Get in touch</h4>
            <p>
              Write to us and we will get back to you at the earliest
            </p>
          </div>
          <div class="inputsOne">
            <input type="text" placeholder="Full name" />
            <input
              type="text"
              name=""
              id=""
              placeholder="+91-XXXXXXXXXX"
            />
            <input type="email" name="email" placeholder="Email" />
          </div>
          <div class="textArea">
            <textarea
              name=""
              id=""
              cols="30"
              rows="10"
              placeholder="Your Message"
            ></textarea>
          </div>
          <div class="submitButton">
            <button type="button">Submit</button>
          </div>
        </div>
      </article>
      <article class="footerThree">
        <div class="section">
          <div class="left">
            <div class="heading">
              <h4>FOLLOW US</h4>
              <ul>
                <li><i class="fa-brands fa-facebook"></i></li>
                <li><i class="fa-brands fa-twitter"></i></li>
                <li><i class="fa-brands fa-linkedin"></i></li>
                <li><i class="fa-brands fa-instagram"></i></li>
                <li><i class="fa-brands fa-youtube"></i></li>
                <li><i class="fa-solid fa-envelope"></i></li>
              </ul>
            </div>
            <div class="categories">
              <h4>CATEGORIES</h4>
              <ul>
                <li>Drama Plays</li>
                <li>Comedy Plays</li>
                <li>Suspense Plays</li>
                <li>Thriller Plays</li>
                <li>Action Plays</li>
                <li>Classic Plays</li>
                <li>Contemporary Plays</li>
                <li>Adventure Plays</li>
                <li>Tradegy Plays</li>
                <li>Adult Plays</li>
                <li>Noir Plays</li>
                <li>Horror Plays</li>
                <li>Romantic Plays</li>
                <li>Musical Plays</li>
              </ul>
            </div>
            <div class="medicines">
              <h4>Movies</h4>
              <ul>
                <li>Book Movie Tickets</li>
                <li>Upcoming Movies</li>
              </ul>
            </div>
            <div class="others">
              <h4>OTHERS</h4>
              <ul>
                <li>Offers</li>
                <li>About us</li>
                <li>Blogs</li>
                <li>Cancellation Policy</li>
                <li>Terms & Condition</li>
                <li>Returns & Refunds</li>
                <li>Privacy Policy</li>
                <li>Store Locator</li>
                <li>Sitemap</li>
                <li>Frequently Asked Questions</li>
              </ul>
            </div>
            <div class="summary">
              <h6>15 Years Of Trust</h6>
              <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing
                elit. Sed obcaecati voluptatum est consequuntur omnis
                animi ex quo, illum laboriosam, facilis in quibusdam
                neque fugiat fugit alias necessitatibus, vero esse.
                Commodi sint vero similique ab eligendi, omnis, harum
                reprehenderit explicabo repellat dolorem suscipit
                tempora vel quibusdam possimus est. Praesentium,
                suscipit adipisci.
              </p>
              <p>Copyright BookMovie 2025</p>
            </div>
          </div>
          <div class="right">
            <div class="help">
              <i class="fa-solid fa-phone"></i>
              <h6>Need help? Call <span>1812 533 2247</span></h6>
            </div>
            <div class="email">
              <i class="fa-solid fa-envelope"></i>
              <h6>Email us at <span>helpdesk@cinemax.ie</span></h6>
            </div>
            <div class="playstore">
              <button type="button">GooglePlay</button>
              <button type="button">AppStore</button>
            </div>
            <div class="mobileApp">
              <h4>DOWNLOAD THE MOBILE APP</h4>
              <input type="text" placeholder="+353-XXXXXXXXXX" />
              <span>OR</span>
              <input type="text" placeholder="Email" />
            </div>
          </div>
        </div>
      </article>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
    <script src="./checkout.js"></script>
  </body>
</html>
