<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./Redirect.css" />
  </head>
  <body>
    <section class="mainSection">
      <p>
        You will be redirected to Adayean Payment gateway.It might take few
        seconds.
      </p>
      <p>
        Please do not refresh the page or click the "Back" or "Close" button of
        your browser.
      </p>
      <div class="loader">
        <div class="lds-roller">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
    </section>
    <script src="./Redirect.js"></script>
  </body>
</html>
